<template>
    <div id="popup">
        <b-container>
            <h4 class="d-flex align-items-center">
                <icon-gitlab-wizard style="height: 1.5rem" class="mr-2" />
                GitLab Wizard
            </h4>
            <b-row v-for="(preset, i) in presets" :key="i" class="mb-2">
                <b-col>
                    <b-button @click="fillPreset(preset)" size="sm" variant="primary">
                        Fill {{ preset.presetName }}
                    </b-button>
                </b-col>
            </b-row>
            <b-row class="mb-2">
                <b-col>
                    <b-button @click="openOptionsPage" size="sm"> Open Options page </b-button>
                </b-col>
            </b-row>

            <b-alert variant="danger" v-model="error" dismissible>
                Something went wrong. Are you on a merge request page?
            </b-alert>
        </b-container>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import IconGitlabWizard from '../components/IconGitlabWizard.vue';

export default {
    components: { IconGitlabWizard },
    data() {
        return {
            error: false,
        };
    },

    computed: {
        ...mapState('mergeRequests', ['presets']),
    },

    methods: {
        async fillPreset(preset) {
            const activeTab = await this.getActiveTab();

            if (!activeTab) {
                this.error = true;
                return;
            }

            if (!this.isMergeRequestPage(activeTab.url)) {
                this.error = true;
                return;
            }

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillApprovers',
                payload: {
                    group: {
                        name: preset.presetName,
                        approvers: preset.approvers,
                    },
                    numberApprovalsRequired: preset.numberApprovalsRequired,
                },
            });

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillOptions',
                payload: {
                    deleteSourceBranch: preset.deleteSourceBranch,
                    squashCommits: preset.squashCommits,
                    assignToMe: preset.assignToMe,
                },
            });

            await this.$browser.tabs.sendMessage(activeTab.id, {
                command: 'fillLabels',
                payload: {
                    labels: preset.labels,
                },
            });
        },

        isMergeRequestPage(urlToCheck) {
            const url = new URL(urlToCheck);
            return (
                url.pathname.includes('/merge_requests/new') ||
                url.pathname.match(new RegExp('/merge_requests/(.+)/edit'))
            );
        },

        openOptionsPage() {
            this.$browser.runtime.openOptionsPage();
        },

        async getActiveTab() {
            return this.$browser.tabs.query({ active: true, currentWindow: true }).then(tabs => {
                return tabs[0];
            });
        },
    },
};
</script>

<style>
#popup {
    width: 350px;
    padding: 20px;
}
</style>
