<template>
    <b-container class="mt-5 pb-4">
        <h1 class="d-flex align-items-center">
            <icon-gitlab-wizard style="height: 2rem" class="mr-2" />
            GitLab Wizard
        </h1>
        <p>
            Here you can edit the presets, that you want to be filled into a merge request.
        </p>

        <preset-card v-for="(preset, i) in presets" :key="i" :preset="preset" :preset-index="i" />

        <b-button block @click="addPreset"> <b-icon-plus /> Add preset </b-button>
    </b-container>
</template>

<script>
import { mapMutations, mapState } from 'vuex';
import PresetCard from './components/PresetCard.vue';
import IconGitlabWizard from '../components/IconGitlabWizard.vue';

export default {
    name: 'Options',
    components: { PresetCard, IconGitlabWizard },

    computed: {
        ...mapState('mergeRequests', ['presets']),
    },

    methods: {
        ...mapMutations('mergeRequests', ['addPreset']),
    },
};
</script>
