<template>
    <b-card class="mb-4">
        <template #header>
            <div class="d-flex justify-content-between">
                <b-input
                    :value="preset.presetName"
                    @input="setPresetName({ presetIndex, name: $event })"
                    :readonly="!editing"
                    :disabled="!editing"
                    :plaintext="!editing"
                    placeholder="Preset Name"
                />
                <b-button v-if="!editing" variant="link" title="Edit" v-b-tooltip.hover @click="editing = true">
                    <b-icon-pencil />
                </b-button>
                <b-button v-if="editing" variant="link" title="Save" v-b-tooltip.hover @click="editing = false">
                    <b-icon-check />
                </b-button>
                <b-button
                    variant="link"
                    class="text-danger"
                    title="Remove"
                    v-b-tooltip.hover
                    @click="removePreset(presetIndex)"
                >
                    <b-icon-trash />
                </b-button>
            </div>
        </template>

        <b-row>
            <b-col>
                <b-card no-body class="mb-4" ref="approvers">
                    <template #header>
                        <b-icon-person-check-fill />
                        Approvers
                    </template>

                    <b-list-group flush>
                        <b-list-group-item
                            v-for="(approver, approverIndex) in preset.approvers"
                            :key="approverIndex"
                            class="d-flex justify-content-between"
                        >
                            <b-input
                                :value="approver"
                                @input="renameApprover({ presetIndex, approverIndex, approver: $event })"
                                :readonly="!editing"
                                :disabled="!editing"
                                :plaintext="!editing"
                                placeholder="Username of approver"
                                class="c-presetCard__approverInput"
                            />
                            <b-button
                                v-if="editing"
                                variant="link"
                                color="danger"
                                title="Remove"
                                v-b-tooltip.hover
                                @click="removeApprover({ presetIndex, approverIndex })"
                            >
                                <b-icon-trash />
                            </b-button>
                        </b-list-group-item>
                        <b-list-group-item button @click="addApprover">
                            <b-icon-plus /> Add approver
                        </b-list-group-item>
                    </b-list-group>

                    <b-card-footer class="bg-white">
                        <b-input-group prepend="Required approvals: " class="d-inline-flex">
                            <b-input
                                :value="preset.numberApprovalsRequired"
                                @input="setNumberApprovalsRequired({ presetIndex, value: $event })"
                                type="number"
                                min="0"
                                step="1"
                                :disabled="!editing"
                            />
                        </b-input-group>
                    </b-card-footer>
                </b-card>
            </b-col>

            <b-col>
                <b-card no-body class="mb-4" ref="labels">
                    <template #header>
                        <b-icon-tag />
                        Labels
                    </template>

                    <b-list-group flush>
                        <b-list-group-item
                            v-for="(label, labelIndex) in preset.labels"
                            :key="labelIndex"
                            class="d-flex justify-content-between"
                        >
                            <b-input
                                :value="label"
                                @input="renameLabel({ presetIndex, labelIndex, label: $event })"
                                :readonly="!editing"
                                :disabled="!editing"
                                :plaintext="!editing"
                                placeholder="Label name"
                            />
                            <b-button
                                v-if="editing"
                                variant="link"
                                color="danger"
                                title="Remove"
                                v-b-tooltip.hover
                                @click="removeLabel({ presetIndex, labelIndex })"
                            >
                                <b-icon-trash />
                            </b-button>
                        </b-list-group-item>
                        <b-list-group-item button @click="addLabel"> <b-icon-plus /> Add label </b-list-group-item>
                    </b-list-group>
                </b-card>
            </b-col>
        </b-row>

        <b-card>
            <template #header>
                <b-icon-gear />
                Options
            </template>

            <b-checkbox
                :checked="preset.deleteSourceBranch"
                @input="setDeleteSourceBranch({ presetIndex, value: $event })"
                :disabled="!editing"
            >
                Delete source branch when merge request is accepted.
            </b-checkbox>
            <b-checkbox
                :checked="preset.squashCommits"
                @input="setSquashCommits({ presetIndex, value: $event })"
                :disabled="!editing"
            >
                Squash commits when merge request is accepted.
            </b-checkbox>
            <b-checkbox
                :checked="preset.assignToMe"
                @input="setAssignToMe({ presetIndex, value: $event })"
                :disabled="!editing"
            >
                Assign the merge request to me.
            </b-checkbox>
        </b-card>

        <b-button v-if="editing" @click="editing = false" variant="info" block class="mt-4">
            <b-icon-check />
            Save
        </b-button>
    </b-card>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
    name: 'PresetCard',
    props: {
        preset: {
            type: Object,
            required: true,
        },
        presetIndex: {
            type: Number,
            default: 0,
        },
    },
    data() {
        return {
            editing: false,
        };
    },
    methods: {
        ...mapMutations('mergeRequests', [
            'removePreset',
            'setPresetName',
            'renameApprover',
            'removeApprover',
            'setNumberApprovalsRequired',
            'renameLabel',
            'removeLabel',
            'setDeleteSourceBranch',
            'setSquashCommits',
            'setAssignToMe',
        ]),
        addApprover() {
            this.editing = true;
            this.$store.commit('mergeRequests/addApprover', {
                presetIndex: this.presetIndex,
                approver: 'new.approver',
            });
            this.$nextTick(() => {
                // Select text in input of added approver
                const inputs = this.$refs.approvers.querySelectorAll('input.c-presetCard__approverInput');
                inputs[inputs.length - 1].select();
            });
        },
        addLabel() {
            this.editing = true;
            this.$store.commit('mergeRequests/addLabel', {
                presetIndex: this.presetIndex,
                label: 'new-label',
            });
            this.$nextTick(() => {
                // Select text in input of added label
                const inputs = this.$refs.labels.querySelectorAll('input');
                inputs[inputs.length - 1].select();
            });
        },
    },
};
</script>
