<template>
    <svg version="1.1" viewBox="0 0 210 210" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-.06145 16.345)" fill="none" fill-rule="evenodd">
            <g id="Group">
                <path d="m105.06 193.66 38.64-118.92h-77.28z" fill="#E24329" />
                <g fill="#FC6D26">
                    <path d="m105.06 193.65-38.64-118.92h-54.153z" />
                </g>
                <path
                    d="m12.268 74.734-11.742 36.139c-1.071 3.296 0.102 6.907 2.906 8.944l101.63 73.838z"
                    fill="#FCA326"
                />
                <path d="m12.268 74.734h54.153l-23.273-71.625c-1.197-3.686-6.411-3.685-7.608 0z" fill="#E24329" />
                <path d="m105.06 193.65 38.64-118.92h54.153z" fill="#FC6D26" />
                <path
                    d="m197.85 74.734 11.742 36.139c1.071 3.296-0.102 6.907-2.906 8.944l-101.63 73.838z"
                    fill="#FCA326"
                />
                <path d="m197.85 74.734h-54.153l23.273-71.625c1.197-3.686 6.411-3.685 7.608 0z" fill="#E24329" />
            </g>
        </g>
        <g transform="matrix(.27839 .063908 -.063908 .27839 57.514 -27.246)">
            <path d="m402.24 430.98h-292.47l138.89-374.86c2.527-6.821 12.167-6.821 14.694 0z" fill="#ba68c8" />
            <path d="m263.35 56.115c-2.527-6.82-12.167-6.82-14.694 0l-7.653 20.656 131.24 354.2h30z" fill="#ab47bc" />
            <path
                d="m474.95 405.92-2.034 2.206c-13.415 14.549-32.492 22.852-52.505 22.852h-328.44c-20.515 0-40.021-8.723-53.46-23.908l-0.814-0.919c-2.92-3.3-7.159-5.196-11.618-5.196h-8.896c-6.959 0-11.64 6.985-8.872 13.241 12.575 28.415 41.172 46.805 72.787 46.805h350.18c31.178 0 59.466-17.891 72.3-45.728 3.095-6.714-1.917-14.32-9.437-14.32h-7.777c-4.349 1e-3 -8.495 1.805-11.41 4.967z"
                fill="#9c27b0"
            />
            <path
                d="m385 367.96h-258c-4.418 0-8-3.582-8-8v-30c0-4.418 3.582-8 8-8h258c4.418 0 8 3.582 8 8v30c0 4.418-3.582 8-8 8z"
                fill="#cc814a"
            />
            <path
                d="m385 321.96h-30c4.418 0 8 3.582 8 8v30c0 4.418-3.582 8-8 8h30c4.418 0 8-3.582 8-8v-30c0-4.419-3.582-8-8-8z"
                fill="#b5672d"
            />
            <path
                d="m296.46 301.96h-80.727c-5.322 0-9.637 4.314-9.637 9.637v66.727c0 5.322 4.314 9.637 9.637 9.637h80.727c5.322 0 9.637-4.314 9.637-9.637v-66.727c0-5.323-4.315-9.637-9.637-9.637zm-20.363 56h-40v-26h40z"
                fill="#ffd740"
            />
            <path
                d="m296.46 301.96h-30c5.322 0 9.637 4.314 9.637 9.637v66.726c0 5.322-4.314 9.637-9.637 9.637h30c5.322 0 9.637-4.314 9.637-9.637v-66.727c0-5.322-4.315-9.636-9.637-9.636z"
                fill="#ffc400"
            />
            <path
                d="m494.13 393.45h-7.777c-6.429 0-12.598 2.69-16.923 7.382-0.934 0.679-17.364 22.642-49.024 22.642h-12.948l-18.029-48.66c6.396-1.91 11.071-7.847 11.071-14.855v-30c0-8.547-6.953-15.5-15.5-15.5h-17.93l-66.018-178.18c-1.439-3.885-5.752-5.865-9.638-4.428-3.884 1.439-5.866 5.755-4.427 9.639l64.087 172.97h-37.471v-2.864c0-9.449-7.687-17.137-17.136-17.137h-80.725c-9.448 0-17.136 7.688-17.136 17.137v2.864h-37.674l94.753-255.73c0.065-0.175 0.084-0.228 0.317-0.228s0.252 0.053 0.317 0.228l19.551 52.769c1.439 3.884 5.751 5.867 9.638 4.428 3.884-1.439 5.866-5.755 4.427-9.639l-19.551-52.769c-2.253-6.086-7.898-10.018-14.381-10.018s-12.128 3.932-14.382 10.017l-96.684 260.94h-17.93c-8.547 0-15.5 6.953-15.5 15.5v30c0 7.009 4.676 12.946 11.071 14.855l-18.029 48.66h-12.574c-31.322 0-48.236-21.99-48.656-22.299-4.345-4.909-10.626-7.725-17.233-7.725h-8.897c-12.389 0-20.685 12.576-15.73 23.775 13.782 31.148 45.044 51.273 79.644 51.273h302.82c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5h-302.82c-28.667 0-54.545-16.62-65.927-42.342-0.576-1.302 0.482-2.705 2.014-2.705h8.897c2.314 0 4.502 0.972 5.999 2.664 0.603 0.443 20.977 27.359 59.89 27.359 13.261 0 290.37 4e-3 310.26 4e-3 0.08 0 0.159-1e-3 0.239-4e-3h17.927c22.065 0 43.211-9.21 58.017-25.268l2.034-2.206c1.495-1.62 3.643-2.55 5.896-2.55h7.777c2.028 0 3.439 1.917 2.626 3.68-11.585 25.13-37.291 41.367-65.487 41.367h-15.039c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h15.039c34.029 0 65.082-19.66 79.109-50.088 5.377-11.664-3.241-24.958-16.248-24.958zm-109.13-63.992c0.276 0 0.5 0.225 0.5 0.5v30c0 0.275-0.224 0.5-0.5 0.5h-5.94c-0.11-2e-3 -0.22-2e-3 -0.331 0h-65.125v-31zm-171.39-17.864c0-1.178 0.958-2.137 2.136-2.137h80.725c1.178 0 2.137 0.959 2.137 2.137 0 11.287-1e-3 61.352 0 66.727 0 1.178-0.958 2.136-2.137 2.136h-80.725c-1.178 0-2.136-0.958-2.136-2.136zm-75.271 63.864h21.439c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5h-26.445c-0.138-4e-3 -0.276-4e-3 -0.413 0h-5.91c-0.276 0-0.5-0.225-0.5-0.5v-30c0-0.275 0.224-0.5 0.5-0.5 6.167 1e-3 64.531 0 71.6 0v31h-6.525c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h6.525v2.862c0 9.448 7.687 17.136 17.136 17.136h80.725c9.449 0 17.136-7.688 17.136-17.136v-2.862h60.067l17.79 48.016h-270.92z"
            />
            <path
                d="m236.1 365.46h39.999c4.142 0 7.5-3.357 7.5-7.5v-26c0-4.143-3.358-7.5-7.5-7.5h-39.999c-4.142 0-7.5 3.357-7.5 7.5v26c1e-3 4.143 3.358 7.5 7.5 7.5zm7.5-26h24.999v11h-24.999z"
            />
        </g>
    </svg>
</template>

<script>
export default {
    name: 'IconGitlabWizard',
};
</script>
